*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
.gradle/
build/
out/
material_icons.jar
fieldschema_processor.jar
gradle/
sample/build/
activityresulteventbus/build/
